<div class="ab _container">
  <div class="row">
      <div class="col-md-10 dflex">
        <div class="block">
            <h2>{{'Welcome To my Blog'}}</h2>
            <h2 class="my-3">{{'Call me Roodolphe,'}}</h2>
            <h2 class="mt-2">{{'I have been a WEBMASTER for 2 years already'}}</h2>
            <h2 class="mt-5">{{'I like '}} <span>{{like}}</span></h2>
        </div>
      </div>
      <img class="ft" src="../../../assets/img/fdeco.png" alt="">
      <img class="ft-1" src="../../../assets/img/fdeco-1.png" alt="">
      <img class="ft-2" src="../../../assets/img/fdeco-1.png" alt="">
      <img class="ft-3" src="../../../assets/img/fdeco-1.png" alt="">
      <img class="ft-4" src="../../../assets/img/fdeco-2.png" alt="">
      <img class="ft-5" src="../../../assets/img/fdeco-2.png" alt="">
  </div>
</div>





