<div class="ab _container">
<img src="../../../assets/img/font-abt.png" alt="" class="ft-abt">
  <div class="left">
    <div class="center">
        <img src="../../../assets/img/about.png" alt="">
    </div>
  </div>
  <div class="right">
    <div class="dft">
        <div class="header">
            <span>{{'About Myself'}}</span>
        </div>
        <div class="body">
              <span>{{'Although I try to be a comprehensive programmer, my main specialization is .NET. I believe that only a combination of professional code and modern design can give stunning effects. Programming is not only my job, it is also my passion. To develop, I set myself new challenges all the time. I consider myself inventive and ambitious, hence I am constantly looking for original solutions. Aside from programming I like squash, skiing and football (as a player, not a fan). Some also say that I am good at drawing.'}}</span>
        </div>
    </div>
    <div class="dft mt-2">
        <div class="header">
          <span>{{'Mission Statement'}}</span>
        </div>
        <div class="body">
          <span>{{'Your code is only as good as its weakest part. This is my main principle and motto. I care primarily about the quality of the code. My ambition is to create original, atypical and challenging projects. Tried and conventional ideas are out of my interest. I would like to work with professionals to exchange experience and learn all the time.'}}</span>
        </div>
    </div>
</div>
</div>
