<div class="ab _container">
    <div class="study">
        <div class="header">
            <span class="title">{{'FORMATION'}}</span>
        </div>
        <div class="body-left">
            <div class="item-list" *ngFor="let item of [].constructor(4); let i = index">
                <div class="crl"></div>
                <div class="content">

                </div>
            </div>
           
        </div>
    </div>
    <div class="work">
      <div class="header">
          <span class="title">{{'WORK'}}</span>
      </div>
      <div class="body-right"></div>
    </div>
</div>