<div class="ab _container">
        <div class="header">
            <div class="item">
                <div class="circle">
                    <div class="child-1">
                       <span>{{'Great'}}</span> 
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="circle">
                    <div class="child-2"><span>{{'Great'}}</span> </div>
                </div>
            </div>
            <div class="item">
                <div class="circle">
                    <div class="child-3"><span>{{'Great'}}</span> </div>
                </div>
            </div>
            <div class="item">
                <div class="circle">
                    <div class="child-4"><span>{{'Good'}}</span> </div>
                </div>
            </div>
    
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-3">
                    <div class="row">
                            <div class="col-md-12" *ngFor="let ite of [].constructor(10)">
                                <div class="sk_item"></div>
                            </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12" *ngFor="let ite of [].constructor(15)">
                            <div class="sk_item"></div>
                        </div>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12" *ngFor="let ite of [].constructor(5)">
                            <div class="sk_item"></div>
                        </div>
                </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12" *ngFor="let ite of [].constructor(10)">
                            <div class="sk_item"></div>
                        </div>
                </div>
                </div>
            </div>
        </div>

</div>